.chart-container {
    max-width: 100%;
    margin: auto;
  }
  
  ion-content {
    ion-grid {
      padding: 0;
      margin: 0;
    
    }
    
    ion-row {
      --ion-grid-column-padding: 0;
      --ion-grid-row-padding: 0;
    }
  }
  