<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title class="ion-text-center">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center" moide="ios">
  <form
    (ngSubmit)="onSubmit()"
    #loginForm="ngForm"
    class="ion-margin-top cash-outline{"
    mode="ios"
  >
    <!-- Logo -->
    <img
      src="assets/img/iconapp2.png"
      alt="logo"
      class="ion-margin-bottom"
      class="logo"
    />
    <ion-text color="tertiary">
      <h1><strong>
          MoniWise
        </strong>
        App
      </h1>
    </ion-text>

    <!-- Usuario -->
    <ion-item class="ion-margin-bottom">
      <ion-label position="stacked" color="tertiary">Usuario</ion-label>
      <ion-input
        type="text"
        name="username"
        [(ngModel)]="usuario"
        required
      ></ion-input>
    </ion-item>
    <div *ngIf="loginForm.submitted && !usuario" class="error-message">
      Usuario es requerido
    </div>

    <!-- Contraseña -->
    <ion-item class="ion-margin-bottom">
      <ion-label position="stacked" color="tertiary">Contraseña</ion-label>
      <ion-input
        type="password"
        name="password"
        [(ngModel)]="clave"
        required
      ></ion-input>
      
    </ion-item>
    <div>
      <ion-label routerLink="/forgot" color="tertiary" class="ion-text-end" 
      >¿Olvidaste tu contraseña?</ion-label
    >
    </div>
    <div *ngIf="loginForm.submitted && !clave" class="error-message">
      Contraseña es requerida
    </div>

   
      <ion-grid >
        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-button
              type="submit"
              expand="block"
              color="tertiary"
             
            >
              Entrar</ion-button
            >
          </ion-col>
          <ion-col>
            <ion-button expand="block" color="tertiary" (click)="goToRegister()"
              >Registrarse</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>
  
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar color="tertiary">
    <ion-title class="ion-text-center">
      Campany of MoniWise
    </ion-title>
  </ion-toolbar>
</ion-footer>
