<app-header></app-header>

<ion-content>
  <!----Ver Sueldo Fijo-->
  <ion-card mode="ios" class="ion-margin-top">
    <ion-card-content>
    <ion-card-title color="tertiary">{{ usuario_nombre }}, usted cuenta con: </ion-card-title>
    <ion-card-title color="dark" class="sueldo">{{ sueldoFijo }}$</ion-card-title>
    </ion-card-content>

   
  </ion-card>

 
  <ion-segment [(ngModel)]="segmento" >
    <ion-segment-button  value="desglosar">
      <ion-label>Desglosar sueldo</ion-label>
    </ion-segment-button>
    <ion-segment-button value="listar">
      <ion-label>Lista Gastos</ion-label>
    </ion-segment-button>
  </ion-segment>
 
  <div *ngIf="segmento==='desglosar'">
  <ion-label>Label</ion-label>
  </div>

  <div
    *ngIf="segmento==='listar'"
  >
<ion-label>Lista</ion-label>
</div>
 
</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-tabs></app-tabs>
  </ion-toolbar>
</ion-footer>
